<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs506.studentcookbook"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <android:uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        <activity
            android:name=".activity.DashboardActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".database.DatabaseTestActivity" >
        </activity>
        <activity android:name=".activity.PersistentDataQueryActivity" >
        </activity>
        <activity android:name=".activity.MealPlanActivity" >
        </activity>
        <activity android:name=".activity.SearchableRecipeQueryActivity" >
        </activity>
        <activity android:name=".activity.MyRecipesActivity" >
        </activity>
        <activity android:name=".activity.GroceryListActivity" >
        </activity>
        <activity android:name=".activity.SettingsActivity" >
        </activity>
        <activity android:name=".activity.CookMealActivity" >
        </activity>
        <activity android:name=".activity.EditProfileActivity" >
        </activity>
        <activity android:name=".activity.ProfileActivity" >
        </activity>
        <activity android:name=".activity.ClearActivity" >
        </activity>
        <activity android:name=".activity.MealBaseQueryActivity" >
        </activity>
        <activity android:name=".activity.BackupAndRestoreActivity" >
        </activity>
        <activity android:name=".activity.AskAboutProfileSetupActivity" >
        </activity>
        <activity android:name=".activity.CuisineQuery" >
        </activity>
    </application>

</manifest>
